<div class="content-container">
    <div class="content-container-title big">
        Категории статей
    </div>
    <div class="content-container-block">
        <div class="list flex-self-stretch">
            {% for category in data.categories %}
            <div class="list-line flex-self-stretch block-border block-padding">
                <input id="category-title-{{category.name}}" size="32" class="input-field" value="{{category.title}}"/>
                <input id="category-save-{{category.name}}" type="button" class="input-button blue" value="сохр."/>
                <div class="list-label"> ({{category.name}})</div>
                <a class="input-button blue flex-float-right" href="{{url.panel_url}}/posts?category={{category.name}}">Статей: {{data.category_counts[category.name]}}</a>
                <input {{(data.category_counts[category.name] > 0 or category.name == 'uncategorized')?'disabled'}} id="category-remove-{{category.name}}" type="button" class="input-button red" value="X"/>
            </div>
            <script>
                document.getElementById('category-remove-{{category.name}}').onclick = (evt) => {
                    helpers.sendRequest('{{url.controller_url}}/category/{{category.name}}/remove').then((response) => {
                        if(response.data){
                            if(response.data.success){
                                location.href = location.href;
                            }else{
                                errorPopup(response.data.message);
                            }
                        }else{
                            errorPopup('Произошла ошибка');
                        }
                    }, (response) => {
                        if(response.data){
                            errorPopup(response.data.message);
                        }else{
                            errorPopup('Произошла ошибка');
                        }
                    });
                };
                document.getElementById('category-save-{{category.name}}').onclick = (evt) => {
                    title = document.getElementById('category-title-{{category.name}}').value;
                    helpers.sendRequest('{{url.controller_url}}/category/{{category.name}}/save?title='+title).then((response) => {
                        if(response.data){
                            if(response.data.success){
                                successPopup('Переименовано');
                            }else{
                                errorPopup(response.data.message);
                            }
                        }else{
                            errorPopup('Произошла ошибка');
                        }
                    }, (response) => {
                        if(response.data){
                            errorPopup(response.data.message);
                        }else{
                            errorPopup('Произошла ошибка');
                        }
                    });
                };
            </script>
            {% endfor %}
            <div class="list-line flex-self-stretch block-padding">
                <input id="category-create-title" class="input-field flex-resize" placeholder="Название категории"/>
                <input id="category-create-name" class="input-field" placeholder="Алиас категории"/> 
                <input type="button" id="category-create-button" class="input-button green" value="Создать категорию"/> 
            </div>
            <script>
                function generateAlias(title = ''){
                    return helpers.transliterateRu(title);
                }

                function validateAlias(alias = ''){
                    return alias.search(/^(\d|\w|_|-)+$/) != -1;
                }

                let last_gen_alias = '';
                document.getElementById('category-create-title').oninput = (evt) => {
                    let alias_field = document.getElementById('category-create-name');
                    let alias = generateAlias(evt.target.value);
                    if(alias_field.value == last_gen_alias){
                        alias_field.value = alias;
                        alias_field.classList.remove('error');
                    }
                    last_gen_alias = alias;
                    if(!evt.target.value){
                        evt.target.classList.add('error');
                    }else{
                        evt.target.classList.remove('error');
                    }
                };

                document.getElementById('category-create-name').oninput = (evt) => {
                    if(!validateAlias(evt.target.value)){
                        evt.target.classList.add('error');
                    }else{
                        evt.target.classList.remove('error');
                    }
                };

                function saveCategory(name, title){
                    helpers.sendRequest('{{url.controller_url}}/category/'+name+'/save?title='+title).then((response) => {
                        if(response.data){
                            if(response.data.success){
                                location.href = location.href;
                            }else{
                                errorPopup(response.data.message);
                            }
                        }else{
                            errorPopup('Произошла ошибка');
                        }
                    }, (response) => {
                        if(response.data){
                            errorPopup(response.data.message);
                        }else{
                            errorPopup('Произошла ошибка');
                        }
                    });
                }

                document.getElementById('category-create-button').onclick = (evt) => {
                    let name = document.getElementById('category-create-name').value;
                    let title = document.getElementById('category-create-title').value;
                    if(name && title && validateAlias(name)){
                        saveCategory(name, title);
                    }
                };
            </script>
        </div>
    </div>
</div>